<div class="container" style="padding-top:150px;">
  <h1 class="text-danger text-center" style="font-size:8em">404</h1>
  <p style="font-style:italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima ipsa quo. Eius, quasi, rem. Enim ipsam sapiente quidem adipisci, veniam. Iure, praesentium!</p>
</div>