{{>nav}}
<div class="container-fluid">
  <h1 class="text-primary text-center">Edit Articles</h1>
  <form class="mt-5" action="/article/{{blogs._id}}?_method=PUT" method="post">
  {{>from_fild}}
</form>
</div>